.detail {
  .title {
    font-size: 24px;
    margin-left: 16px;
    margin-bottom: 0 !important;
  }

  .hero-name {
    font-size: 18px;
  }

  .flex-end {
    display: flex;
    justify-content: flex-end;
  }

  .m-l-1 {
    margin-left: 16px;
  }

  .d-flex {
    display: flex;
  }

  .m-b-1-2 {
    margin-bottom: 24px;
  }

  .w-100 {
    width: 100%;
  }
}
