$text-neutral: #1b1b21;
$text-neutral-light: #ffffff;
$text-secondary: #f4ede4;
$text-primary: #e61a34;
$text-gray: #4b5563;
$text-light-gray: #6b7280;

$roboto: 'Roboto', sans-serif;
$poppins: 'Poppins';
